div[data-subject="Deutsch"]::after {
    content: 'Hr. Boyer';
}

div[data-subject="Deutsch"] {
    background-color: #e98dcd;
}

div[data-subject="Erdkunde"]::after {
    content: 'Hr. Günther';
}

div[data-subject="Erdkunde"] {
    background-color: #91f0b1;
}

div[data-subject="Mathematik"]::after {
    content: 'Fr. Steinhoff';
}

div[data-subject="Mathematik"] {
    background-color: #6ccee0;
}

div[data-subject="Latein"]::after {
    content: 'Hr. Hank';
}

div[data-subject="Latein"] {
    background-color: #ff7f7f;
}

div[data-subject="Englisch"]::after {
    content: 'Fr. Meller';
}

div[data-subject="Englisch"] {
    background-color: #ffa970;
}

div[data-subject="Chemie"]::after {
    content: 'Fr. Piel';
}

div[data-subject="Chemie"] {
    background-color: #ffd86c;
}

div[data-subject="Geschichte"]::after {
    content: 'Hr. Muschellik';
}

div[data-subject="Geschichte"] {
    background-color: #ae87e2;
}

div[data-subject="Religion"]::after {
    content: 'Fr. Kusch';
}

div[data-subject="Religion"] {
    background-color: #93a2d4;
}

div[data-subject="Sport"]::after {
    content: 'Hr. Pfannenschmidt';
}

div[data-subject="Sport"] {
    background-color: #d8b97f;
}

div[data-subject="Kunst"]::after {
    content: 'Fr. Lambert';
}

div[data-subject="Kunst"] {
    background-color: #3baca2;
}

div[data-subject="Politik"]::after {
    content: 'Fr. Steinhoff';
}

div[data-subject="Politik"] {
    background-color: #8f8f8f;
}